#Ignore object files
*.[oa]

#Ignore any project files
.cproject
.project
.wrmakefile
.wrproject

#Ignore any output files
PPC603gnu/

#Cloud 9 ignore
".c9revisions/"

#Linux things
Makefile
"2013 River.anjuta"
2013-river.sublime-project
2013-river.sublime-workspace
.ucpp
MyRobot.cpp.orig
